@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0
}
:root{
    --background-azul-escuro: #2A446B;
    --background-azul: #013d6bd7;
    --background-azul-claro: #b0f880;
}
body{
    background-image: url(img/img-fundo.webp);
    background-attachment: fixed;
    overflow-x: hidden;
}
.header{
    background: var(--background-azul-escuro);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    height: 90px;
}
.nav{
    max-width: 1280px;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.nav-list{
    display: flex;
    gap: 48px;
    list-style: none;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}
#icon{
    display: none;
}
.conteiner-menu{
    display: none;
}
#icon-menu{
    display: none;
}
.main{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    gap: 30px;
    padding-top: 20px;
    padding-inline: 20px;
    height: calc(100vh - 90px);
}
.principal{
    display: flex;
    gap: 2vw;
}
.conteudo-perfil{
    margin-top: 25px;
    display: grid;
    gap: 50px;
}
.bem-vindo{
    background: rgba(255, 183, 0, 0.764);
    align-items: center;
    padding-inline: 10px;
    padding-block: 5px;
    margin: auto;
    border-radius: 30px;
    color: #fff;
    width: 25vw;
    height: 30px;
}
.info-perfil{
    color: #fff;
    font-size: 20px;
    display: flex;   
    width: 45vw;
    height: 350px;
    padding: 20px;
    border-radius: 40px;
    background: var(--background-azul);
    box-shadow: 1px 1px 10px black;
}
.conteiner-foto{
    width: 270px;
    height: 270px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: rgb(0, 255, 68);
}
.foto{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
}
p{
    font-weight: lighter;
}
.sobre{
    font-size: 20px;
    width: 45vw;
    height: 200px;
    padding: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 0, 0.545);
    box-shadow: 1px 1px 10px black;
}
.conteudo-skills{
    font-size: 20px;
    margin: auto;
    width: 40vw;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 1px 1px 10px black;
    background: var(--background-azul);
}
.skills{
    width: 100%;
    text-align: center;
}
.img{
    border-radius: 10px;
}
        
#titulo-projetos{
    font-family: 'Rowdies' 'sans-serif';
    font-size: 58px;
    font-weight: bold;
    padding: 20px;
    color: #fff;
}
section.slides{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: auto;
    text-align: center;
}
.slide-content{
    width: 500%;
    display: flex;
    height: auto;
}
.box-slide{
    width: 20%;
    height: auto;
    position: relative;
    text-align: center;
}
.box-slide img{
    width: 100%;
    height: 600px;
}
.slide-content input{
    display: none;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: greenyellow;
}
/*
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background: gray;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: rgb(216, 13, 13);
}
 
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: rgb(211, 52, 52);
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: rgb(215, 35, 35);
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
*/
@media (max-width: 1200px) {
    #icon{
        font-size: 40px;
        color: #fff;
        display: block;
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }
    .conteiner-menu{
        width: 150px;
        display: none;
        position: sticky;
        background: var(--background-azul-claro);
        text-align: center;
        border-bottom-right-radius: 50px;
    }
    .menu-mobile{
        list-style: none;
        padding: 20px;
        font-size: 24px;
        font-weight: 300;
    }
    .menu-mobile li{
        margin-block: 20px;
        padding-block: 10px;
    }
    #icon-menu{
        display: none;
        color: #fff;
        font-size: 40px;
    }
    .active{
        display: block;
    }

    /*MAIN*/
    body{
        background-image: url(img/img-fundo\ -\ mobile.webp);
        background-attachment: fixed;
    }
    .main{
        height: 100vw;
        display: grid; 
        padding: 25px;   
        gap: 10vh;
    }
    .conteudo-perfil{
        display: grid;
        margin: auto;
        gap: 70px;
    }
    .bem-vindo{
        width: 300px;
    }
    .info-perfil{
        display: grid;
        height: 100%;
        width: 80vw;
    }
    .conteiner-foto{
        margin: auto;
    }
    .sobre{
        height: 100%;
        width: 80vw;
    }
    .conteudo-skills{
        width: 80vw;
    }
    .skills{
        width: 100%;
        text-align: center;
    }
    .img{
        width: 300px;
        height: 300px;
    }
}