*{
    margin: 0;
    padding: 0
}
:root{
    --background-azul-escuro: #2A446B;
    --background-azul: #013d6bd7;
    --background-azul-claro: #507697;
}
body{
    overflow-x: hidden;
}
.header{
    background: var(--background-azul-escuro);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    height: 90px;
}
.nav{
    max-width: 1280px;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.nav-list{
    display: flex;
    gap: 48px;
    list-style: none;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}
#icon{
    display: none;
}
.conteiner-menu{
    display: none;
}
#icon-menu{
    display: none;
}
.main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 5vw;
    padding: 20px;
    height: calc(100vh - 90px);
    background-image: url(img/img-fundo.webp);
}
.info-perfil{
    color: #fff;
    font-size: 20px;
    display: flex;   
    width: 45vw;
    height: 350px;
    padding: 20px;
    border-radius: 40px;
    background: var(--background-azul);
    box-shadow: 1px 1px 10px black;
}
.conteiner-foto{
    width: 270px;
    height: 270px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: rgb(0, 255, 68);
}
.foto{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
}
p{
    font-weight: lighter;
}
.conteudo-skills{
    font-size: 20px;
    float: right;
    width: 40vw;
    height: 760px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 1px 1px 10px black;
    background: var(--background-azul);
}
.skills{
    text-align: center;
}
.skills-mobile{
    display: none;
}
.img{
    border-radius: 10px;
}
@media (max-width: 750px) {
    #icon{
        font-size: 40px;
        color: #fff;
        display: block;
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }
    .conteiner-menu{
        z-index: 10;
        width: 150px;
        display: none;
        margin-left: 300px;
        position: sticky;
        background: var(--background-azul-claro);
        text-align: center;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .menu-mobile{
        list-style: none;
        padding: 20px;
        font-size: 24px;
        font-weight: 300;
    }
    .menu-mobile li{
        margin-block: 20px;
        padding-block: 10px;
    }
    #icon-menu{
        display: none;
        color: #fff;
        font-size: 40px;
    }
    .active{
        display: block;
    }

    /*MAIN*/

    .main{
        background-image: url(img/img-fundo\ -\ mobile.webp);
        height: 100vw;
        display: grid;     
        gap: 10vh;
    }
    .info-perfil{
        display: grid;
        height: 100%;
        width: 80vw;
    }
    .conteiner-foto{
        margin: auto;
    }
    .conteudo-skills{
        width: 80vw;
        height: 610px;
    }
    .skills{
        display: none;
    }
    .skills-mobile{
        display: block;
    }
}